<div id="{{hero}}" class="card-container {{ flipped ? 'flipped' : '' }}" data-ng-click="flipped = !flipped">
    <div class="card">
        <div class="front">
        	<img src="images/front.png" class="card-face" />
            <div style="width: 103px; height: 108px; position:absolute; top: 250px;" data-ng-click="recordDamage({message:$event,increase:false})">
            </div>
            <div style="width: 160px; height: 108px; position:absolute; top: 250px; left: 103px;" data-ng-click="recordDamage({message:$event,increase:true})">
            </div>
        </div>
        <div class="back">
        	<img src="images/back.png" class="card-face" />
        </div>
    </div>
</div>