<div class="card-container {{ statCardFlipped ? 'flipped' : '' }}" data-ng-click="statCardFlipped = !statCardFlipped">
    <div class="card">
        <div class="front">
        	<img data-ng-src="images/{{hero.name}}-0-0.png" class="card-face" />
            <div class="statCardItemContainer">
                <div class="statCardItem" data-ng-if="hero.offensiveItem">
                    <b>{{items.offensive[hero.offensiveItem].displayName}}:</b>
                    {{items.offensive[hero.offensiveItem].description}}
                </div>
                <div class="statCardItem" data-ng-if="hero.defensiveItem">
                    <b>{{items.defensive[hero.defensiveItem].displayName}}:</b>
                    {{items.defensive[hero.defensiveItem].description}}
                </div>
            </div>
            <div class="statCardItemTarget" data-ng-if="!monster" data-ng-click="manageItems({$event:$event,hero:hero})">
            </div>

            <img class="statCardSoulIndicator" style="left: {{ $index * 30 + 2 }}px" src="images/soul.png" data-ng-repeat="soul in hero.souls" />
            <div class="statCardSoulTarget remove" data-ng-if="!monster" data-ng-click="recordSoul($event,false)">
            </div>
            <div class="statCardSoulTarget add" data-ng-if="!monster" data-ng-click="recordSoul($event,true)">
            </div>

            <div class="statCardDamageContainer">
                <img class="statCardDamageMask"  src="images/damage-mask-17.png" style="{{ getDamageMaskPosition(mask) }}" data-ng-if="!hero.levels[2]" data-ng-repeat="mask in hero.damageMasks[2]"/>
                <img class="statCardDamageMask"  src="images/damage-mask-17.png" style="{{ getDamageMaskPosition(mask) }}" data-ng-if="!hero.levels[3]" data-ng-repeat="mask in hero.damageMasks[3]"/>
                <img class="statCardDamage"  src="images/x-mark-16.png" data-ng-repeat="damage in hero.damage"/>
            </div>
            <div class="statCardDamageTarget remove" data-ng-click="recordDamage($event,false)">
            </div>
            <div class="statCardDamageTarget add" data-ng-click="recordDamage($event,true)">
            </div>
        </div>
        <div class="back">
            <img data-ng-src="images/{{hero.name}}-0-1.png" class="card-face" />
            
            <div data-ng-if="hero.multipleAdvancementPaths">            
                <img src="images/check-mark-24.png" data-ng-if="hero.levels[2]" class="levelCardLevelIndicator levelTwo {{ hero.multipleAdvancementPaths ? 'wide' : '' }}" />
                <div class="levelCardLevelTarget levelTwo" data-ng-click="toggleLevel($event,2)">
                </div>
    
                <img src="images/check-mark-24.png" data-ng-if="hero.levels[3]" class="levelCardLevelIndicator levelThree {{ hero.multipleAdvancementPaths ? 'wide' : '' }}" />
                <div class="levelCardLevelTarget levelThree" data-ng-click="toggleLevel($event,3)">
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="card-container {{ ruleCardFlipped ? 'flipped' : '' }}" data-ng-if="!monster" data-ng-click="ruleCardFlipped = !ruleCardFlipped">
    <div class="card">
        <div class="front">
        	<img data-ng-src="images/{{hero.name}}-1-0.png" class="card-face" />
            
            <div class="currentHealthContainer">
                {{ hero.getCurrentHealth() }}
            </div>
        </div>
        <div class="back">
            <img data-ng-src="images/{{hero.name}}-1-1.png" class="card-face" />
            
        	<img src="images/check-mark-24.png" data-ng-if="hero.levels[2]" class="levelCardLevelIndicator levelTwo {{ hero.multipleAdvancementPaths ? 'wide' : '' }}" />
            <div class="levelCardLevelTarget levelTwo" data-ng-click="toggleLevel($event,2)">
            </div>

        	<img src="images/check-mark-24.png" data-ng-if="hero.levels[3]" class="levelCardLevelIndicator levelThree {{ hero.multipleAdvancementPaths ? 'wide' : '' }}" />
            <div class="levelCardLevelTarget levelThree" data-ng-click="toggleLevel($event,3)">
            </div>
            
            <div class="currentHealthContainer">
                {{ hero.getCurrentHealth() }}
            </div>
        </div>
    </div>
</div>