<!doctype html>
<html manifest="cache.manifest">

	<meta charset="utf-8">
	<title>Judgement Card Viewer</title>

	<meta name="viewport" content="width=1024,user-scalable=no,initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>

	<link rel="stylesheet" href="css/site.css">

	<script src="scripts/jquery.2.1.4.min.js"></script>
	<script src="scripts/angular.1.5.5.min.js"></script>
</head>
<body>
	<div ng-app="app" ng-controller="appController">
		<div data-ng-repeat="hero in heros.all | filter:{selected:true}">
			<hero-cards hero="hero" items="items" manage-items="showManageItems($event,hero)"></hero-cards>
		</div>

		<div class="monsterContainer" data-ng-if="heros.monsters.length">
			<div data-ng-repeat="hero in heros.monsters | filter:{selected:true}">
				<hero-cards hero="hero" monster="true"></hero-cards>
			</div>
		</div>
		
		<div class="openEditHerosContainer">
			<input type="button" class="openEditHeros" value="Manage Hero Cards"  data-ng-click="showEditHeros = true"/>
		</div>
		
		<div class="overlay" data-ng-click="hideEditScreens()" data-ng-if="shouldShowOverlay()">
			<div class="manageWindow editHeros" data-ng-click="$event.stopPropagation()" data-ng-if="showEditHeros">
				<div class="heading">Manage Hero Cards</div>

				<div class="list">
					<div class="listItem" data-ng-repeat="hero in heros.all" ng-if="IsInGroup($index, 1, 3)">
						<input type="checkbox" id="{{ hero.displayName }}" data-ng-model="hero.selected" />
						<label for="{{ hero.displayName }}">{{ hero.displayName }}</label>
					</div>
				</div>
				
				<div class="list">
					<div class="listItem" data-ng-repeat="hero in heros.all" ng-if="IsInGroup($index, 2, 3)">
						<input type="checkbox" id="{{ hero.displayName }}" data-ng-model="hero.selected" />
						<label for="{{ hero.displayName }}">{{ hero.displayName }}</label>
					</div>
				</div>
				
				<div class="list">
					<div class="listItem" data-ng-repeat="hero in heros.all" ng-if="IsInGroup($index, 3, 3)">
						<input type="checkbox" id="{{ hero.displayName }}" data-ng-model="hero.selected" />
						<label for="{{ hero.displayName }}">{{ hero.displayName }}</label>
					</div>
				</div>

				<fieldset style="clear: both">
					<legend>Monsters:</legend>
					
					<div class="list">
						<div class="listItem" data-ng-repeat="hero in heros.monsters" ng-if="$index < (heros.monsters.length / 2)">
							<input type="checkbox" id="{{ hero.displayName }}" data-ng-model="hero.selected" />
							<label for="{{ hero.displayName }}">{{ hero.displayName }}</label>
						</div>
					</div>
					
					<div class="list">
						<div class="listItem" data-ng-repeat="hero in heros.monsters" ng-if="$index >= (heros.monsters.length / 2)">
							<input type="checkbox" id="{{ hero.displayName }}" data-ng-model="hero.selected" />
							<label for="{{ hero.displayName }}">{{ hero.displayName }}</label>
						</div>
					</div>
				</fieldset>
			</div>
			
			<div class="manageWindow editItems" data-ng-click="$event.stopPropagation()" data-ng-if="showEditItems">
				<div class="heading">Manage Items for {{heros.all[items.hero].displayName}}</div>
	
				<div class="list" style="width: 35%">
					<fieldset>
						<legend>Offensive Items:</legend>
						<div class="listItem" data-ng-repeat="item in items.offensive">
							<input type="radio" name="offensiveItem" id="offensiveItem{{ $index }}" data-ng-model="heros.all[items.hero].offensiveItem" data-ng-value="{{ $index }}" />
							<label for="offensiveItem{{ $index }}">{{ item.displayName }}</label>
							<div class="description" data-ng-if="item.description">Cost: {{item.cost}} Fate. {{item.description}}</div>
						</div>
					</fieldset>
				</div>
				
				<div class="list" style="width: 65%">
					<fieldset>
						<legend>Defensive Items:</legend>
						<div class="listItem" data-ng-repeat="item in items.defensive">
							<input type="radio" name="defensiveItem" id="defensiveItem{{ $index }}" data-ng-model="heros.all[items.hero].defensiveItem" data-ng-value="{{ $index }}" />
							<label for="defensiveItem{{ $index }}">{{ item.displayName }}</label>
							<div class="description" data-ng-if="item.description">Cost: {{item.cost}} Fate. {{item.description}}</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/app.js"></script>
	<script src="scripts/app-controller.js"></script>
	<script src="scripts/models.js"></script>
	<script src="components/hero-cards/directive.js"></script>
</body>
</html>
