<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DontCache"  />
                <add extension=".manifest" policy="DisableCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
