<div class="card-container" data-ng-click="flipCard($event)">
    <div class="card">
        <div class="front">
            <div style="width: 400px; height: 200px; position:absolute; top: 400px">
                In a 10-Q released on Aug. 9, 2017, Stericycle disclosed that it is the subject of a Foreign Corrupt Practices Act investigation related to its business in Latin America. We spoke with management,
            </div>
        </div>
        <div class="back">
            <div style="width: 400px; height: 200px; position:absolute; top: 400px; border: 2px solid red;" data-ng-click="addDamage($event)">
                damage
            </div>
        </div>
    </div>
</div>